.flex-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #0d0d0d;
    margin: 0 10px;
    margin-top: 0%;
    justify-content: space-around;
}


nav {
    display: flex;
    justify-content: space-between;
    border: 1px solid #95da6a;
    margin: 0 10px;
    height: 7vh;
    align-items: center;
}

.username {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 3rem;
    gap: 0.5rem;
}

.circle-shape {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #4472c4;
}


.main-div {
    width: 25%;
    background-color: #f2f2f2;
    margin-top: 0.3rem;
    text-align: start;
    height: 85vh;
    border: 2px solid #8296b9;
}


.side-div {
    width: 25%;
    background-color: #f2f2f2;
    margin-top: 0.6rem;
    text-align: start;
    height: 80vh;
    border: 2px solid #8296b9;
}



.brand-name {
    display: flex;
    margin-left: 60px;
    font-weight: 600;
    font-size: 17px;
    padding-left: 4rem;
    gap: 0.5rem;
}




@media only screen and (max-width: 700px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        border: 1px solid #0d0d0d;
        margin: 0 10px;
        justify-content: space-around;
    }

    input {
        visibility: hidden;

    }

    .flex-container {
        display: flex;
        flex-direction: row;
        width: auto;
        border: 1px solid #0d0d0d;
        margin: 0 10px;
        margin-top: 0%;
        justify-content: space-around;
    }

    nav {
        display: flex;
        justify-content: space-between;
        border: 1px solid #95da6a;
        height: 7vh;
        align-items: center;
    }

.user{
    display: none;
}
    .brand-name {
        display:inline;
        font-weight: 600;
        font-size: 17px;
        justify-content: left;
        margin: auto;
    }


    .username {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: 1rem;
    }

    .circle-shape {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background-color: #4472c4;
    }


    .main-div {
        width: 90%;
        background-color: #f2f2f2;
        margin-top: 0.3rem;
        text-align: start;
        height: 85vh;
        border: 2px solid #8296b9;
    }

   

    .side-div {
        display: none;
        
    }


}